/* リセット */
body {
    margin: 0;
}

/* ナビゲーションバー */
.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.side-nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

.side-nav ul li {
    margin: 20px 0;
}

.side-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    padding: 10px 0;
    transition: color 0.3s, background-color 0.3s;
}

.side-nav ul li a:hover {
    color: #ffeb3b;
    background-color: rgba(255, 255, 255, 0.2);
}

.side-nav .copyright {
    font-size: 0.8rem;
    position: absolute;
    bottom: 15px;
    color: #fff;
    text-align: center;
}

/* home,about,portfolio,contactセクション共通 */
.content-section {
    margin-left: 240px;
    padding: 20px;
}

/* homeセクション */
.home {
    height: 100vh;
    background: url('../images/home_image.jpg') center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.home h1 {
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.home p {
    font-size: 1.5em;
    line-height: 1.6;
}

/* aboutセクション */
.about-title {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin: 20px;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.profile-text {
    max-width: 600px;
}

.profile-text ul {
    list-style: none;
    padding: 0;
}

.profile-text ul li {
    margin: 5px 0;
}

/* portfolioクラス */
.portfolio{
    padding-left: 240px;
}

.grid{
    padding: 20px;
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}
.item{
    width: 200px;
}
img{
    max-width: 100%;
}
.item img{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
}